<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone OR ContentManagement">
        <pipelines>
            <getItemReferences>
                <processor patch:after="*[@type='Sitecore.Publishing.Pipelines.GetItemReferences.AddItemAliasReferences, Sitecore.Kernel']" type="Sitecore.Support.Publishing.Pipelines.GetItemReferences.AddSitecoreFormsReferences, Sitecore.Support.310091" resolve="true" />
            </getItemReferences>
        </pipelines>
    </sitecore>
</configuration>